<%- include("partials/header"); -%>
    <h1><strong>ABOUT</strong></h1>
    <p class="line"> <%= aboutContent %> </p>
    <br>
    <h4>This project has 4 different sections as shown in the Navigation Bar above :-</h4>
    <br>
    <ul>
        <li><strong>Home</strong> : This area contains all the posts made by me . They are stored in the backend only accessible by me.</li>
        <br>
        <li><strong>Post</strong> : In this area you can make your own POST by giving it a <strong>Title</strong> and then write the <strong>Content</strong> and finally click on <strong>Publish</strong></li>
        <br>
        <li><strong>About</strong> : It has the introduction of the whole website .</li>
        <br>
        <li><strong>Contact me</strong> : Got new suggestions?? Feel free to tell :)</li>
    </ul>
    <br>
    <h6>**********************************************************************************************************************************************************************</h6>
    <br>
    <h4>This is my first Backend Project Using MERN stack and I have deployed it using Heroku. </h4>
    <p>I will keep updating it and try to make it available for everyone with different authentication and security features someday :)</p>
    <h3>Thank You :) :)</h3>
    <%- include("partials/footer"); -%>
