<%- include("partials/header"); -%>

    <p class="line"> <%= contactContent %> </p>
    <h2>Hey Everyone!!!</h2>
    <br>
    <p>I know this website lacks a lot of features, UI and maybe  some things that I might unnotice.</p>
    <br>
    <h4>So, I am providing links to a few of my Social Media accounts. Feel free to drop by and suggest :-</h4>
    <br>
    <ul>
        <li><strong>Email id : </strong> yashkashyap0605@gmail.com</li>
        <br>
        <li><strong><a href="https://www.linkedin.com/in/yash-kashyap-863603190/" style="color: black;"> LinkedIn</a></strong></li>
        <br>
        <li><strong><a href="https://github.com/YashKashyap0605" style="color: black;"> GitHub</a></strong></li>
        <br>
        <li><strong><a href="https://www.instagram.com/yashkashyap0103/?hl=en" style="color: black;"> Instagram</a></strong></li>
        <br>
        <li><strong><a href="https://www.facebook.com/yash.kashyap.12532" style="color: black;"> Facebook</a></strong></li>
        <br>
        <li><strong><a href="http://yashkashyap.me/" style="color: black;"> My Website</a></strong></li>

    </ul>
    <h3>EXPECTING SOME GREAT SUGGESTIONS!!!!</h3>
    <br>
    <h4>Thank You!!</h4>
<%- include("partials/footer"); -%>
